/* src/CommentSection.css */
body {
  font-family: Arial, sans-serif;
}

.comment-section {
  position: absolute;
  width: 784px;
  height: 1678px;
  top: 72px;
  left: 20px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 5px #0000001a;
  margin-left: 30px;
  margin-top: 15px;
}

.comment-section-header {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 5px;
  width: 752px;
  height: 60px;
  top: 73px;
  left: 36px;
}

.comment-count {
  font-size: large;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.tabs {
  list-style-type: none;
  display: flex;
  margin-left: 550px;
  gap: 10px;
}

.tab-item {
  cursor: pointer;
}

.active-tab {
  font-weight: bold;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
  height: 100px;
}

input[type="text"] {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.formatting-options {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.formatting-options button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.send-button {
  position: absolute;
  right: 10px;
  top: 125%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
}

.google-image {
  width: 37px;
  height: 37px;
  top: 15px;
  left: 591px;
  gap: 0px;
  opacity: 0px;
}

.user-profile-image {
  width: 44px;
  height: 44px;
  top: 2px;
  left: 5px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
}

.user-profile {
  display: flex;
  justify-content: flex-start;
}

.user-profile-name {
  width: 115px;
  height: 23px;
  top: 13px;
  left: 58px;
  gap: 0px;
  opacity: 0px;
  color: #212121;
  font-family: Inter;
  font-size: 19px;
  font-weight: 400;
  line-height: 22.99px;
  text-align: left;
  margin-top: 12px;
  margin-left: 5px;
}

.user-profile-comment {
  display: flex;
  justify-content: wrap;
  width: 685px;
  height: 90px;
  top: 66px;
  left: 3px;
  gap: 0px;
  opacity: 0px;
  color: #747373;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
}

.user-comment-image {
  width: 147px;
  height: 147px;
  top: 170px;
  left: 3px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #000000;
}

.user-profile-emojis {
  display: flex;
  justify-content: flex-start;
  width: 341px;
  height: 38px;
  top: 345px;
  left: 5px;
  gap: 0px;
  opacity: 0px;
  margin-top: 15px;
}

.user-profile-smiley {
  width: 22px;
  height: 22px;
  top: 353px;
  left: 5px;
  gap: 0px;
  opacity: 0px;
  cursor: pointer;
}

.user-profile-thumb-reaction {
  width: 64px;
  height: 38px;
  top: 345px;
  left: 46px;
  gap: 0px;
  border-radius: 16.5px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
}
.user-profile-thumb-image {
  width: 28px;
  height: 28px;
  top: 351px;
  left: 51px;
  gap: 0px;
  opacity: 0px;
}

.user-profile-thumb-count {
  width: 12px;
  height: 18px;
  top: 354px;
  left: 86px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  color: #171717;
  margin-left: 5px;
}

.user-profile-angry-reaction {
  width: 61px;
  height: 38px;
  top: 345px;
  left: 117px;
  gap: 0px;
  border-radius: 16.75px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
}

.user-profile-angey-image {
  width: 29px;
  height: 26px;
  top: 352px;
  left: 121px;
  gap: 0px;
  opacity: 0px;
}

.user-profile-angry-count {
  width: 9px;
  height: 18px;
  top: 354px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  color: #3f3f3f;
  margin-left: 5px;
}

.user-profile-seperation-1 {
  width: 2px;
  height: 16px;
  top: 356px;
  left: 194px;
  gap: 0px;
  opacity: 0px;
}

.user-profile-reply {
  width: 46px;
  height: 20px;
  top: 354px;
  left: 212px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.5px;
  font-weight: 400;
  line-height: 17.55px;
  text-align: left;
  color: #343434;
  margin-left: 10px;
}

.user-profile-seperation-2 {
  width: 1px;
  height: 16px;
  top: 356px;
  left: 275px;
  gap: 0px;
  opacity: 0px;
}

.user-profile-time {
  width: 54px;
  height: 18px;
  top: 354px;
  left: 292px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14.5px;
  font-weight: 600;
  line-height: 17.55px;
  text-align: left;
  color: #a4a4a4;
  margin-left: 10px;
}

.user-profile-comment-seperation-line {
  width: 688px;
  height: 9px;
  top: 399px;
  left: 3px;
  gap: 0px;
  opacity: 0px;
}

.comment-post-section {
  display: flex;
}

.comment-post-section-line {
  width: 188.04px;
  height: 0px;
  top: 690px;
  left: 70.46px;
  gap: 0px;
  border: 4px 0px 0px 0px;
  opacity: 0px;
  transform: rotate(90deg);
  border: 4px solid #0000005c;
  margin-top: 100px;
}

.comment-post-section-input {
  width: 640px;
  height: 194px;
  top: 684px;
  left: 94px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #0000003d;
}

.comment-post-section-send {
  display: flex;
  justify-content: stretch;
}
.comment-post-section-attachment {
  display: flex;
  justify-content: space-between;
}

.B {
  width: 20.41px;
  height: 22px;
  top: 821px;
  left: 114.41px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20.2px;
  font-weight: 600;
  line-height: 24.45px;
  text-align: center;
  color: #7e7e7e;
}

.I {
  width: 20.41px;
  height: 22px;
  top: 821px;
  left: 144.09px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20.2px;
  font-weight: 600;
  line-height: 24.45px;
  text-align: center;
  color: #7e7e7e;
}

.U {
  width: 20.41px;
  height: 22px;
  top: 821px;
  left: 178.41px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20.2px;
  font-weight: 600;
  line-height: 24.45px;
  text-align: center;
  color: #7e7e7e;
}

.attachment {
  width: 19.48px;
  height: 21px;
  top: 822px;
  left: 219.22px;
  gap: 0px;
  opacity: 0px;
}

.comment-post-section-line2 {
  width: 591.77px;
  height: 0px;
  top: 798px;
  left: 115.33px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  transform: rotate(-0.1deg);
  border: 1px solid #000000;
}

.comment-post-section-cancel {
  margin-left: 300px;
  margin-top: 5px;
  width: 139px;
  height: 55px;
  top: 4px;
  left: -56px;
  gap: 0px;
  border-radius: 20%;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #e5e5e5;
  border: 1px solid #171818;
}

.comment-post-section-cancel-text {
  width: 92px;
  height: 23px;
  top: 20px;
  left: -32px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18.5px;
  font-weight: 600;
  line-height: 22.39px;
  text-align: center;
}

.send-button-2 {
  margin-top: 25px;
  margin-left: 15px;
  right: 10px;
  top: 125%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
}

.Albert {
  width: 700px;
  height: 202px;
  top: 1049px;
  left: 71px;
  gap: 0px;
  opacity: 0px;
  color: #000000;

  margin-left: 60px;
}

.Albert-Pic {
  width: 44px;
  height: 44px;
  top: 3px;
  left: 12px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
}

.Albert-Name {
  width: 142px;
  height: 22px;
  top: 14px;
  left: 70px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20.5px;
  font-weight: 600;
  line-height: 24.81px;
  text-align: left;
  color: #2e2e2e;
  margin-top: 10px;
  margin-left: 10px;
}

.Albert-photo-pic {
  display: flex;
  justify-content: flex-start;
}

.Albert-text {
  margin-top: 15px;
  width: 598px;
  height: 62px;
  top: 71px;
  left: 12px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
  color: #787777;
}

.Albert-reactions {
  display: flex;
  justify-content: flex-start;
}

.Albert-background {
  width: 1px;
  height: 18px;
  top: 159px;
  left: 59px;
  gap: 0px;
  opacity: 0px;
  margin-left: 10px;
  margin-top: 2px;
}

.Albert-reply {
  width: 50px;
  height: 21px;
  top: 158px;
  left: 78px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 18.76px;
  text-align: left;
  color: #3b3b3b;
  margin-left: 10px;
  margin-top: 2px;
  cursor: pointer;
}
.Albert-background-2 {
  width: 1px;
  height: 17px;
  top: 160px;
  left: 146px;
  gap: 0px;
  opacity: 0px;
  margin-left: 10px;
  margin-top: 2px;
}
.Albert-time {
  width: 48px;
  height: 19px;
  top: 158px;
  left: 165px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 15.5px;
  font-weight: 600;
  line-height: 18.76px;
  text-align: left;
  color: #b2b2b2;
  margin-left: 10px;
  margin-top: 2px;
}

.Bessie {
  width: 639px;
  height: 202px;
  top: 1248px;
  left: 127px;
  gap: 0px;
  opacity: 0px;
  margin-left: 100px;
}
.Bessie-photo-pic {
  display: flex;
  justify-content: flex-start;
}
.Bessie-pic {
  width: 44px;
  height: 44px;
  top: 21px;
  left: 11px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
}
.Bessie-name {
  width: 161px;
  height: 25px;
  top: 30px;
  left: 73px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.41px;
  text-align: left;
  color: #303030;
  margin-top: 10px;
  margin-left: 10px;
}

.Bessie-text {
  margin-left: 5px;
  margin-top: 10px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  text-align: left;
}
.Bessie-rections {
  display: flex;
  justify-content: flex-start;
}
.Bessie-reaction-cnt {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.Bessie-love-emoji {
  width: 24px;
  height: 24px;
  top: 11px;
  left: 11px;
  gap: 0px;
  border-radius: 11.75px 0px 0px 0px;
  opacity: 0px;
  margin-left: 5px;
  cursor: pointer;
}
.Bessie-love-emoji-cnt {
  width: 11px;
  height: 20px;
  top: 13px;
  left: 42px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18.2px;
  font-weight: 600;
  line-height: 22.03px;
  text-align: center;
  margin-top: 2px;
  margin-left: 2px;
}

.Bessie-background {
  width: 1px;
  height: 18px;
  top: 149px;
  left: 139px;
  gap: 0px;
  opacity: 0px;
  margin-left: 10px;
  margin-top: 5px;
}

.Bessie-reply {
  width: 50px;
  height: 21px;
  top: 148px;
  left: 158px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 15.5px;
  font-weight: 400;
  line-height: 18.76px;
  text-align: left;
  color: #434343;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.Bessie-background-2 {
  width: 2px;
  height: 18px;
  top: 149px;
  left: 226px;
  gap: 0px;
  opacity: 0px;
  margin-top: 5px;
  margin-left: 10px;
}

.Bessie-time {
  width: 58px;
  height: 19px;
  top: 148px;
  left: 245px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16.5px;
  font-weight: 600;
  line-height: 19.97px;
  text-align: left;
  color: #aeaeae;
  margin-top: 5px;
  margin-left: 10px;
}

.James {
  width: 639px;
  height: 202px;
  top: 1462px;
  left: 170px;
  gap: 0px;
  opacity: 0px;
  color: #000000;
  margin-left: 150px;
  margin-bottom: 10px;
}
.James-photo-pic {
  display: flex;
  justify-content: flex-start;
}
.James-pic {
  width: 44px;
  height: 44px;
  top: 21px;
  left: 11px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
}
.James-name {
  width: 161px;
  height: 25px;
  top: 30px;
  left: 73px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.41px;
  text-align: left;
  color: #303030;
  margin-top: 10px;
  margin-left: 10px;
}

.loading {
  width: 700px;
  height: 77px;
  top: 1642px;
  left: 66px;
  padding: 25px 299px 29px 288px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
}

.loading-img {
  width: 19px;
  height: 20px;
  top: 26px;
  left: 288px;
  gap: 0px;
  opacity: 0px;
}
.Loading-text {
  width: 86px;
  height: 23px;
  top: 25px;
  left: 315px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 15.5px;
  font-weight: 600;
  line-height: 18.76px;
  text-align: left;
  color: #b1b1b1;
  margin-left: 10px;
}
