.google-signin-button {
  width: 213px;
  height: 37px;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 1;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
.Comment-Section-Body {
  margin-top: 25px;
  margin-left: 10px;
}
